/*BS*/
.nav-background{
    background-image: url(../images/img.empanadas.JPG);

}
.contact{
    text-align: center;
}
.text-form{
    padding: 20px 30px;
}
.card-text-img{
    font-size: 70px;
    font-family: $love;
    
}