
h1{
    background-color: $black ;
    font-size: $xl;
    color: $beige;
    text-align: center;
    

}


h2{
    background-color: $black;
    color: $beige;
    font-family: $poppins;
    margin-top: $l;
    text-align: center;
}

h3{
    color: $white;
    font-family: $poppins;
    margin-top: $l;
    text-align: center;
}
h4{
    background-color: $black;
    color: $beige;
    font-family: $poppins;
    margin-top: $l;
    text-align: center;  

}
.list{
    font-size: $m;
    color: $brown;
}
.card-title{
    color: $white;
    font-family: $poppins;
    margin-top: $l;
    text-align: center;
    
}