
h1{
    background-color: $black ;
    font-size: $xl;
    color: $beige

}

h2{
    background-color: $black;
    color: $beige;
    font-family: $poppins;
    margin-top: $l;
    text-align: center;
}

h3{
    color: $white;
    font-family: $poppins;
    margin-top: $l;
    text-align: center;
}
h4{
    background-color: $black;
    color: $beige;
    font-family: $poppins;
    margin-top: $l;
    text-align: center;  
}
.first-list{
    font-size: $m;
    color: $brown;
}
.second-list{
    font-size: $m;
    color: $brown;
}
.third-list{
    font-size: $m;
    color: $brown;
}