// COLORES //
$black: #000000;
$brown:#441e05;
$beige: beige;
$white:white;

// TIPOGRAFIAS//
$poppins: 'poppins', sans-serif;
$love: "Love Ya Like A Sister", cursive;

// TAMAÑOS //
$m: 20px;
$l: 30px;
$xl: 40px;